
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h3>Hours of Working</h3>
            <nav class="footer-nav">
              <ul>
                <li>Monday  8:00 am – 8:00 pm</li>
                <li>Tuesday 8:00 am – 8:00 pm</li>
                <li>Wednesday 8:00 am – 8:00 pm</li>
                <li>Thursday  8:00 am – 8:00 pm</li>
                <li>Friday  Closed</li>
                <li>Saturday  8:00 am – 8:00 pm</li>
                <li>Sunday  8:00 am – 8:00 pm</li>
              </ul>
            </nav>
            <h3>Contact Us</h3>
            <nav class="footer-nav">
              <ul>
                <li><strong>Email:</strong> labilackp@gmail.com</li>
                <li>+971 50 481 5841 </li>
                <li>+971 50 154 0759 (Mobile)</li>
              </ul>
            </nav>
          </div>
          <div class="col-sm-6">
            <h3>Find Us - Location Map</h3>
            <p>
              <amp-iframe
                sandbox="allow-scripts allow-same-origin"
                width="400"
                height="350"
                layout="responsive"
                frameborder="0"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14427.296908785263!2d55.626101!3d25.310109!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62365e22f293cc23!2sLabila+Carpentry+Wooden+Pallet+Manufacturers+-+Sharjah!5e0!3m2!1sen!2sae!4v1429095252235"  
              >
              </amp-iframe>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-muted talign-center">&copy; 2020 <a href="http://labilapallets.com">Labilapallets.com</a></p>
        </div>
      </div>
    </footer>
    {{ template "chrome/scripts.html" . }}
  </body>
</html>
