{{ template "chrome/header.html" . }}

  <div class="hompage-jumbotron">
    <div class="container">
      <h1>Labila Carpentry Wooden &amp; Plastic Pallet Manufacturers, Suppliers</h1>
      <p class="lead">
        Labila is a leading manufacturer and marketer of high quality wooden pallets based out of Sharjah, UAE.
      </p>
      <p>
        <a href="/contact-us/" class="btn btn-success btn-lg">Get A  Quote</a>
      </p>
    </div>
  </div>

  <div class="main-content container">
    <h2>We provide services to Sharjah &amp; Dubai in UAE</h2>
    <p>
      We offer various services and products including manufacturing wooden pallets, plastic pallets, supplying used pallets, skids and more. We are one of the top merchants in wood and plywood industry, established mainly in manufacturing and packaging wooden pallets, solid wood box, pinewood pallets and plywood pallets.
    </p>
    <div class="row">
      <div class="col-sm-12" style="text-align:center">
        <a class="btn btn-info btn-large" href="tel://+971504815841">Call us: +971 50 481 5841</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2>About Us</h2>
        <p>
          Since 1975, Labila Carpentry has been committed to ethically supplying and manufacturing highest quality products .
        </p>
        <p>
          We're one of the top suppliers of wooden and plastic pallets. We do our services mainly in Sharjah, Dubai and other places of UAE. Get in touch with us for good offers and deals.
        </p>
      </div>
      <div class="col-sm-4">
        <h2>Our Products</h2>
        <p>
          <ul>
            <li>Block Pallets</li>
            <li>Double-Wing Pallet</li>
            <li>Four-Way Stringer Pallet</li>
            <li>Non-Reversible Pallet</li>
            <li>Reversible Pallet</li>
            <li>Single-Face Pallet</li>
            <li>Single-Wing Pallet</li>
            <li>Skid Pallet</li>
            <li>Solid Deck Pallet</li>
            <li>Two-Way Stringer Pallet</li>
          </ul>
        </p>
        
      </div>
      <div class="col-sm-4">
        <h2>Address</h2>
        <p>
          Box No 22232<br/>
          Al Saja-a , Sharjah<br/>
          United Arab Emirates<br/>
        </p>
        <p>
          <strong>Email:</strong> <em><a href="mailto:labilackp@gmail.com">labilackp@gmail.com</a></em>
        </p>
        <p><a href="tel://+971504815841"><strong>+971 50 481 5841 (Work)</strong></a></p>
        <p><a href="tel://+971501540759"><strong>+971 50 154 0759 (Mobile</strong>)</a></p>
      </div>
    </div>
    <div class="row">
       <div class="col-sm-4">
         <p><a href="/contact-us/" class="btn btn-block btn-danger">Google Plus Page</a></p>
       </div>
       <div class="col-sm-4">
         <p><a href="/products/" class="btn btn-block btn-primary">Goto Products Description</a></p>
       </div>
       <div class="col-sm-4">
         <p><a href="/contact-us/" class="btn btn-block btn-warning">Contact Us</a></p>
       </div>
     </div>
  </div>

{{ template "chrome/footer.html" }}
